@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <script src="/scripts/Sitecore.Foundation.Frameworks.js"></script>
    <script src="/scripts/Sitecore.Foundation.Theming.js"></script>

    <link href="/css/vendor.css" rel="stylesheet">
    <link href="/css/niteflight.css" rel="stylesheet">
</head>

<body class="header-static ">
    <div id="main-container">
        <header class="header-static">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 hidden-xs">


                            <nav>
                                <ul class="nav nav-service navbar-nav nav-social">
                                    <li class="">
                                        <a href="http://facebook.com/sitecore" target="_blank" title="Facebook" class="btn btn-social-icon btn-facebook">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="http://twitter.com/sitecore" target="_blank" title="Twitter" class="btn btn-social-icon btn-twitter">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="https://www.youtube.com/user/sitecorechannel" target="_blank" title="YouTube" class="btn btn-social-icon btn-youtube">
                                            <span class="fa fa-youtube"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <div class="pull-right">

                                <nav>
                                    <ul class="nav nav-service navbar-nav nav-pills">
                                        <li class="">
                                            <a href="https://github.com/Sitecore/Habitat/" target="" title="Habitat" class="">
                                                Habitat
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="http://helix.sitecore.net" target="" title="Helix" class="">
                                                Helix
                                            </a>
                                        </li>
                                        <li class="divider-left">
                                            <a href="https://www.sitecore.net" target="_blank" title="Sitecore.net" class="">
                                                Sitecore.net
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <nav class="navbar navbar-default navbar-static" id="mainNavbar">
                <div class="container">
                    <div class="navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#siteNavbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>




                        <a class="navbar-brand " href="/">
                            <span class="logo">
                                <img src="/Media/HabitatNew.png" alt="Habitat Logo" width="226" height="50" disablewebedit="False">
                            </span>
                        </a>

                    </div>
                    <div class="navbar-center">

                    </div>
                    <div class="navbar-right">
                        <div class="collapse navbar-collapse" id="siteNavbar">
                            <ul class="nav navbar-nav">
                                <li class=" dropdown">
                                    <a href="/About-Habitat" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        About Habitat<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="">
                                            <a href="/About-Habitat/Introduction" target="">Introduction</a>
                                        </li>
                                        <li class="">
                                            <a href="/About-Habitat/Getting-Started" target="">Getting Started</a>
                                        </li>
                                        <li class="">
                                            <a href="http://helix.sitecore.net" target="_blank">Helix Documentation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class=" dropdown">
                                    <a href="/Modules" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Modules<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="">
                                            <a href="/Modules/Project" target="">Project</a>
                                        </li>
                                        <li class="">
                                            <a href="/Modules/Feature" target="">Feature</a>
                                        </li>
                                        <li class="">
                                            <a href="/Modules/Foundation" target="">Foundation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="">
                                    <a class="text-uppercase" href="/SomeAnotherArticle" target="">
                                        SomeArticle
                                    </a>
                                </li>
                                <li class="">
                                    <a class="text-uppercase" href="/SomeArticle" target="">
                                        SomeArticle
                                    </a>
                                </li>
                                <li class="">
                                    <a class="text-uppercase" href="/More-Info" target="">
                                        More Info
                                    </a>
                                </li>
                            </ul>
                        </div><div class="navbar-activity">
                            <ul class="nav navbar-nav">


                                <li class="dropdown">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="">
                                            <a href="http://habitat.local/da/somearticle/" onclick="return SwitchToLanguage('da', 'en', 'http://habitat.local/da/somearticle/')">dansk</a>
                                        </li>
                                        <li class="">
                                            <a href="http://habitat.local/ja-jp/somearticle/" onclick="return SwitchToLanguage('ja-JP', 'en', 'http://habitat.local/ja-jp/somearticle/')">日本語 (日本)</a>
                                        </li>
                                        <li class="active">
                                            <a href="http://habitat.local/en/somearticle/" onclick="return SwitchToLanguage('en', 'en', 'http://habitat.local/en/somearticle/')">English</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown hidden-xs">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <form action="/api/sitecore/Accounts/Logout" method="post">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                <div class="form-control-static">Administrator</div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">E-mail</label>
                                                <div class="form-control-static"></div>
                                            </div>
                                            <a class="btn btn-block btn-primary" href="/Edit-Profile">Edit details</a>
                                            <button type="submit" class="btn btn-block btn-default">Logout</button>
                                        </form>
                                    </div>
                                </li>
                                <li class="navbar-activity-search dropdown">
                                    <form action="/Search" class="navbar-form" role="search">
                                        <div class="form-group">
                                            <input type="text" name="query" id="searchInputBox" placeholder="Enter a text to search for..." autocomplete="off">
                                        </div>
                                    </form>

                                    <a href="#" class="btn navbar-toggle-search" data-toggle-class="is-searching" data-target="#mainNavbar">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-wide" id="navbar-activity-search-results">
                                        <div class="row panel-loading">
                                            <div class="col-md-12">
                                                <div class="text-center p-b-1">
                                                    Searching...
                                                </div>
                                                <div class="text-center">
                                                    <span class="fa fa-spinner fa-2x fa-spin"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row panel-results">
                                            <div class="col-md-12">
                                                <ul class="media-list results"></ul>
                                            </div>
                                        </div>
                                        <div class="row panel-result-count">
                                            <div class="col-md-12">
                                                <small>
                                                    <em class="result-count"></em>
                                                    search results found.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="row panel-facet-values">
                                            <div class="col-md-12">
                                                <ul class="facet-values"></ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button class="btn btn-primary btn-sm pull-right" onclick="$('.navbar-activity-search form').submit()">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>


        <main role="main">
            <header class="page-header bg-media bg-parallax" style="background-image: url('/-/media/Habitat/Images/Square/Default.jpg?h=1080&amp;w=1080&amp;hash=D8E1AC4C10692B400C5A2F68DCEF99243CE27B1B')">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="">
                            <a href="/">Home</a>
                        </li>
                        <li class="active">
                            <a href="/HeaderFooter">HeaderFooter</a>
                        </li>
                    </ol>
                </div>
            </header>
            <div class="container ">
                <div class="row">
                    <div class="col-lg-4">
                        <aside>
                        </aside>
                    </div>
                    <div class="col-lg-8">
                        <article>

                            <header>
                                <h1>
                                    HeaderFooter
                                </h1>
                            </header>

                        </article>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </main>


        <footer class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6">


                        <ul class="nav nav-stacked">
                            <li>
                                <a href="http://community.sitecore.net" target="_blank" title="Community">

                                    <span>Community</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://doc.sitecore.net" target="_blank" title="Documentation">

                                    <span>Documentation</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://kb.sitecore.net" target="_blank" title="Knowledge Base">

                                    <span>Knowledge Base</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://spn.sitecore.net" target="_blank" title="Partner Network">

                                    <span>Partner Network</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6">


                        <ul class="nav nav-stacked">
                            <li>
                                <a href="https://www.sitecore.com/company/blog" target="_blank" title="Sitecore Blog">

                                    <span>Sitecore Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://community.sitecore.net/technical_blogs/" target="_blank" title="Technical Blog">

                                    <span>Technical Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://sitecore.stackexchange.com" target="_blank" title="Stackexchange">

                                    <span>Stackexchange</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="https://www.sitecore.com/company/contact-us" target="_blank" title="Contact Sitecore">

                                    <span>Contact Sitecore</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">

                        <div class="well ">
                            <h4>
                                About Habitat
                            </h4>
                            <p>
                                Habitat sites are demonstration sites for the Sitecore® Experience Platform™.<br>The sites demonstrate the full set of capabilities and potential of the platform through a number of both technical and business scenarios.
                            </p>
                            <a class="btn btn-default" rel="noopener noreferrer" href="http://github.com/sitecore/habitat" target="_blank">Example available on GitHub</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">


                        <div class="well ">
                            <h4>Contact information</h4>

                            <address>
                                <p>
                                    <strong>Sitecore Corporation</strong>
                                    <br>
                                    101 California Street <br>Suite 1600 <br>San Francisco, CA 94111<br>USA
                                </p>
                                <p>
                                    <br>
                                    <i class="fa fa-phone"></i> +1 415 380 0600              <br>
                                    <i class="fa fa-envelope"></i> <a href="mailto:sales@sitecore.net">sales@sitecore.net</a>
                                </p>
                            </address>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <small class="copyright">
                                <p>
                                    © Copyright 2018, <a href="http://sitecore.net" target="_blank" title="Opens in a new window">Sitecore</a>. All Rights Reserved<br>
                                    <small>“Habitat” as used here is for demonstration purposes only and to represent the software and services provided by Sitecore further described at www.sitecore.net.</small>
                                </p>

                                <p><small>The Habitat demonstration site is provided for example/reference purposes only. It is not supported by Sitecore and should not be used as a starter kit.</small></p>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="/scripts/language/language.js"></script>
    <script src="/scripts/accounts/accounts.js"></script>
    <script src="/scripts/search/search.js"></script>

    <span id="mq-detector" style="visibility: hidden;">
        <span class="visible-xs"></span>
        <span class="visible-sm"></span>
        <span class="visible-md"></span>
        <span class="visible-lg"></span>
    </span>
</body>

@RenderBody()
</html>